<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Wayne Adams as a sample app for a node class. It uses data from WeatherStack and MapBox.</p>
    <img class="portrait" src="/img/okapi.jpg">
    </div>
    {{>footer}}
  </body>
</html>
